# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#create path, load csv into dataframe
weather_path = "output_data/clean_cities.csv"
weather_df = pd.read_csv (weather_path)

weather_df.head()

,city,country,latitude,longitude,max temperature,humidity,cloudiness,wind speed,date
0,butaritari,KI,3.07,172.79,84.18,77,19,13.33,1593056062
1,payakumbuh,ID,-0.22,100.63,87.89,49,40,1.05,1593056335
2,newport,GB,51.59,-3.00,66.99,81,0,9.46,1593056359
3,busselton,AU,-33.65,115.33,60.01,70,97,3.00,1593056059
4,jamestown,US,42.10,-79.24,55.40,82,40,4.70,1593056061

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps
gmaps.configure (api_key = g_key)

#display appropriate zoom level, center in atlanta (ish)
fig = gmaps.figure (zoom_level = 3, center = (34, -84))

#pull lat/lng & humidity for heat layer variables
cities = weather_df [['latitude', 'longitude']]
weights = weather_df ['humidity']

#create heat layer, add to figure
heat_layer = gmaps.heatmap_layer (cities,
                                  weights = weights,
                                  dissipating = False,
                                  point_radius = 3)
fig.add_layer (heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#isolate cities w/ ideal weather conditions:
#75 < temp < 82, winds < 10mph, humidity < 85%, cloudiness < 10

hotel_df = weather_df.loc [(weather_df['max temperature'] < 82) &
                           (weather_df['max temperature'] > 75) &
                           (weather_df['wind speed'] < 10) &
                           (weather_df['humidity'] < 85) &
                           (weather_df['cloudiness'] <= 10), :]

hotel_df

,city,country,latitude,longitude,max temperature,humidity,cloudiness,wind speed,date
69,mareeba,AU,-17.00,145.43,81.00,66,1,5.01,1593056086
77,deputatskiy,RU,69.30,139.90,79.54,27,2,9.93,1593056214
138,ushtobe,KZ,45.25,77.98,78.58,28,0,9.89,1593056083
147,lovington,US,32.94,-103.35,80.01,36,1,8.05,1593056484
172,pleasanton,US,37.66,-121.87,77.00,44,1,9.17,1593056208
189,zhangjiakou,CN,40.81,114.88,78.12,42,0,3.91,1593056489
254,redwater,US,33.36,-94.25,75.99,83,1,5.06,1593056497
268,faanui,PF,-16.48,-151.75,79.56,83,6,6.46,1593056077
290,umm lajj,SA,25.02,37.27,81.72,57,0,6.42,1593056502
296,kununurra,AU,-15.77,128.73,80.60,15,0,9.17,1593056114
388,westport,US,41.14,-73.36,77.00,44,1,4.70,1593055838
410,teguldet,RU,57.31,88.17,77.85,50,0,2.71,1593056517
456,piranshahr,IR,36.70,45.14,76.69,19,0,0.56,1593056522
473,malatya,TR,38.50,38.00,75.20,36,0,3.36,1593056524
534,vaitape,PF,-16.52,-151.75,80.40,81,6,6.44,1593056532
541,pedernales,DO,18.04,-71.74,81.07,74,3,5.06,1593056533

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
#create base url & parameters for API searches
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
params = {'type': 'lodging',
          'radius': 5000,
          'key': g_key}

#begin print statement to view added hotels & exceptions
print ("""beginning hotel search
-----------------------------""")

#begin loop through hotel dataframe
for index, row in hotel_df.iterrows():
    
    #try/except statements for errors
    try:
        #update location in params for each loop, pull city name as well
        params['location'] = f"{row['latitude']}, {row['longitude']}"
        city = row['city']
        
        #make request
        response = requests.get (base_url, params).json()
        
        #isolate hotel name from response, add to hotel dataframe
        hotel_name = response ['results'][0]['name']
        hotel_df.loc[index, 'hotel name'] = hotel_name
        
        print (f'nearest hotel in {city} is {hotel_name}.')
        
    except:
        print ('hotel not found. skipping...')

print ("""-----------------------------
hotel search complete""")

beginning hotel search
-----------------------------

C:\Users\maria\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\maria\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

nearest hotel in mareeba is Trinity Plains Tourist Park.
nearest hotel in deputatskiy is Baza Otdykha.
nearest hotel in ushtobe is Gostinitsa "Diyar".
nearest hotel in lovington is Buena vida rv parks.
nearest hotel in pleasanton is Courtyard by Marriott Pleasanton.
nearest hotel in zhangjiakou is Shell Zhangjiakou City Qiaodong District Ginza Hotel.
nearest hotel in redwater is Little Ash Things.
nearest hotel in faanui is Bora-Bora Pearl Beach Resort & Spa.
nearest hotel in umm lajj is Moon light Furnished Units.
nearest hotel in kununurra is Hotel Kununurra.
nearest hotel in westport is The Westport Inn.
nearest hotel in teguldet is Gostinitsa Kedr.
nearest hotel in piranshahr is مسافر خانه سعدی.
hotel not found. skipping...
nearest hotel in vaitape is Hotel Maitai Polynesia.
nearest hotel in pedernales is Hotel Costa Marina.
-----------------------------
hotel search complete

In [6]:
#drop rows w/o available hotels
hotel_df = hotel_df.dropna (how = 'any')
hotel_df

,city,country,latitude,longitude,max temperature,humidity,cloudiness,wind speed,date,hotel name
69,mareeba,AU,-17.00,145.43,81.00,66,1,5.01,1593056086,Trinity Plains Tourist Park
77,deputatskiy,RU,69.30,139.90,79.54,27,2,9.93,1593056214,Baza Otdykha
138,ushtobe,KZ,45.25,77.98,78.58,28,0,9.89,1593056083,"Gostinitsa ""Diyar"""
147,lovington,US,32.94,-103.35,80.01,36,1,8.05,1593056484,Buena vida rv parks
172,pleasanton,US,37.66,-121.87,77.00,44,1,9.17,1593056208,Courtyard by Marriott Pleasanton
189,zhangjiakou,CN,40.81,114.88,78.12,42,0,3.91,1593056489,Shell Zhangjiakou City Qiaodong District Ginza...
254,redwater,US,33.36,-94.25,75.99,83,1,5.06,1593056497,Little Ash Things
268,faanui,PF,-16.48,-151.75,79.56,83,6,6.46,1593056077,Bora-Bora Pearl Beach Resort & Spa
290,umm lajj,SA,25.02,37.27,81.72,57,0,6.42,1593056502,Moon light Furnished Units
296,kununurra,AU,-15.77,128.73,80.60,15,0,9.17,1593056114,Hotel Kununurra
388,westport,US,41.14,-73.36,77.00,44,1,4.70,1593055838,The Westport Inn
410,teguldet,RU,57.31,88.17,77.85,50,0,2.71,1593056517,Gostinitsa Kedr
456,piranshahr,IR,36.70,45.14,76.69,19,0,0.56,1593056522,مسافر خانه سعدی
534,vaitape,PF,-16.52,-151.75,80.40,81,6,6.44,1593056532,Hotel Maitai Polynesia
541,pedernales,DO,18.04,-71.74,81.07,74,3,5.06,1593056533,Hotel Costa Marina

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>name</dt><dd>{hotel name}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>country</dt><dd>{country}</dd>
</dl>
"""

# Store the DataFrame Row

# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [8]:
# Add marker layer on top of heat map
marker_layer = gmaps.marker_layer (locations, info_box_content = hotel_info)
fig.add_layer (marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))